/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

header {
  background-image: url(../img/coding.jpg);
  background-size: contain;
  border : solid white 4px;
}

figure {
  background-color: white;
  color : white;
  max-width: 320px;
  margin: auto;
}

div {
  background-color: #00fca6;
  margin : 20px 0px 20px 0px;
}

footer {
  color: white;
  border: solid #00fca6 2px;
  font-size: 8px;
  text-align: center;
  font-family:'Open Sans', sans-serif;
  padding :2px 114px 2px 114px;
  margin-top: 20px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color:white;
  padding: 56px 96px 25px 29px;
  font-size: 21px;
}

h2{
  color: #0e6848;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding : 32px 29px 0px 29px;
  text-align: left;
}

figcaption{
  font-size: 10px;
  font-family:'Open Sans', sans-serif;
  color: black;
  text-align:left;
}

em{
  color:#23e097;
  font-family:'Open Sans', sans-serif;
  font-weight:100;
  font-size: 20px;
}

figure h2 {
  color : black;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
 
  text-align: left;
}

div p {
  color: #0e6848;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0px 112px 48px 30px;
}

header p {
  color: #aaaaaa;
  font-family:'Open Sans', sans-serif;
  font-size: 13px;
  padding : 0px 80px 51px 29px;
}

figure p {
  color: black;
  font-family:'Open Sans', sans-serif;
  font-size: 13px;
  padding : 0px 30px 0px 30px; 
}

img{
  max-width: 100%;
  height: 100%;
}

.button{
  background-color:#444444;
  color:#dddddd;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  font-weight: bold;
  padding : 6px;
  margin-left: 30px;
}

a {
  text-decoration: none;
}