/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

header {
  background-image: url(../img/coding.jpg);
  background-size: contain;
  box-sizing: border-box;
  border : solid white 4px;
}

div {
  background-color: #00fca6;
  margin : 20px 0px 20px 0px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
  padding-top: 110px;
}

h2{
  color: #0e6848;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding : 32px 29px 0px 29px;
  text-align: left;
}

figure h2 {
  color : black;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  box-sizing: border-box;
}

div p {
  color: #0e6848;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0px 112px 48px 30px;
}

header p {
  color: #aaaaaa;
  font-family:'Open Sans', sans-serif;
  font-size: 24px;
  box-sizing: border-box;
}

figure p {
  color: black;
  font-family:'Open Sans', sans-serif;
  font-size: 24px;
  box-sizing: border-box;
  
}

figure {
  background-color: white;
  padding: 60px;
  box-sizing: border-box;
  
}

img{
  box-sizing: border-box;
}

.button{
  background-color:#444444;
  color:#dddddd;
  font-family: 'Montserrat', sans-serif;
  font: 15px;
  font-weight: bold;
}

footer {
  color: white;
  border: solid #00fca6 4px;
  text-align: center;
  font-size: 15px;
  font-family:'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}