/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
}

header {
  margin: 20px 0px;
  padding: 0px 30px;
  background-image: url(../img/coding.jpg);
  border : solid white 2px;
}

header h1 {
  font-family: 'montserrat', sans-serif;
  color: white;
  font-weight: 800px;
  margin-top: 50px;
  font-size: 26px;
}

header h1 em {
  font-weight: 100pxs;
  color:#2afca6;
  line-height: 22px;
}

main {
  margin: 20px 0px 0px;
}

.presentation {
  background-color: #2afca6;
  padding: 16px 30px;
}

.presentation h2 {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.presentation p {
  margin: 20px 0px 31px;
  line-height: 22px;
}

article {
background-color: white;
padding: 15px 30px;
margin-top: 20px;
}

article h1 {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.article-meta {
  font-size: 12px;
  margin-top: 20px;
  color : #a0a0a0;
}

.date {
  color: black;
}

.author {
  color: #2afca6;
}

.article-text {
  font-size: 16px;
  line-height: 22px;
}

figure {
 margin: 0px 0px 32px;
 box-shadow: 0px 0px 10px 0px #ccc;
}

img {
  width: 260px;
}

figcaption {
  font-size: 12px;
  padding: 5px 10px;
}

button {
  background-color: #444444;
  margin: 0px 0px 16px;
  border-style: none;
  height: 23px;
  width: 90px;
}

button a {
  color: white;
  margin: 5px;
  text-decoration: none;
  font-size: 10px;
  font-weight: 800;
  font-family: 'montserrat', sans-serif;
}

footer {
  border: 2px solid #2afca6;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer p {
  color: white;
  text-align: center;
  font-size: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.article-button {
  background-color: #444444;
  margin: 0px 0px 16px;
  border-style: none;
  height: 23px;
  width: 130px;
  box-sizing: content-box;
}


